.container{



    background-color: rgb(255, 255, 255);



    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container .login-card{
    /* background: linear-gradient(195deg, #0f2027, #2c5364); */
    background-color: #ffffff; /* Light background for better contrast */


    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-card-body .login-form{
    display: flex;
    flex-direction: column;
    align-items: center;



    gap: 40px
}

.login-card:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    /* background: linear-gradient(45deg, #0f2027, #2c5364); */
    background-color: #f0f0f0; /* Slightly darker on hover */




}

.login-title {
    color: black !important; /* Ensures visibility */
    font-size: 2rem; /* Adjust as needed */
    font-weight: bold; /* Makes the title bold */
    text-align: center; /* Centers the title */
    margin-bottom: 20px; /* Adds space below the title */
    text-decoration: underline; /* Underlines the title */
}

.login-form .email-header, .password-header{
    color: black !important; /* Ensures visibility */
    margin-bottom: 20px; /* Adds space below the title */
}

.login-form .login-button{



    background-color: #4CAF50;



    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.login-form .login-button:hover{
    background-color: #45a049; /* Darker green */
}

.email-input, .password-input{
    border: 1px solid black;
    border-radius: 5px;
    /* background-color: rgb(217, 234, 217); */

}
.login-card-footer {
    display: flex;
    background-color: white;
    height: fit-content;
    font-size: small;
    padding: 10px;
}






.login-card-footer:hover {
    background-color: #f0f0f0; /* Slightly darker on hover */
}

.login-card-footer .MuiButton-root {
    text-transform: uppercase; /* Gives a styled look */
}

.login-card-footer .MuiCardHeader-title {
    font-size: 1rem; /* or any smaller size you prefer */
    font-weight: 400;
}