*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

.admin-page {
    border: 2px solid black;
    /* background: linear-gradient(245deg, #0f2027, #2c5364); */
    color: black;
}

.admin-heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    /* color: #222; */
    letter-spacing: 1px;
}


.admin-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-page .admin-card {
    background: linear-gradient(245deg, #0f2027, #2c5364);
}