.contact-main-outer {
  background: #f9f9f9;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-main-card {
    margin-top: 65px;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.08);
  background: #fff;
}
